@using System.Web.Services.Description
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
        @*<div class="submenu">
                <div><a href="../Account/Login.cshtml">Manage orders and invoices</a></div>
            </div>*@
    </ul>
}
    <nav>
        <ul>
            <li class="drop">

                <div class="user-avatar">
                    <img src="http://www.stedesign.com/ste.png" />
                </div>
                <a href="#">Sergey</a>

                <span aria-hidden="true" class="icon-reorder orange-txt"></span>
                <div class="triangle"></div>
                <div class="dropdownContain">
                    <div class="dropOut">
                        <ul>
                            <li><span aria-hidden="true" class="icon-envelope-alt"></span> bla bla </li>
                            <li><span aria-hidden="true" class="icon-user"></span> pisos</li>
                            <li><span aria-hidden="true" class="icon-cog"></span> Skill</li>
                            <li><span aria-hidden="true" class="icon-off"></span> Log Out</li>
                        </ul>
                    </div>
                </div>

            </li>
        </ul>
        <link rel="stylesheet" type="text/css" href="StyleSheetProfile.scss" />
    </nav>
    <div class="container">
        <div class="row">
            <br /><br />
            <div class="col-md-12">
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>